{
  "project_info": {
    "project_number": "COLOQUE_SEU_PROJECT_NUMBER",
    "project_id": "gestao-cidada",
    "storage_bucket": "gestao-cidada.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "COLOQUE_SEU_APP_ID",
        "android_client_info": {
          "package_name": "com.scs.gestaocidada"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "COLOQUE_SUA_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
